export vpc_id="{{ getv "/devops/vpc_id" }}"
export stack_name="{{ getv "/devops/stack_name" }}"
export template_body="{{ getv "/devops/template_body" }}"
export region="{{ getv "/devops/region" }}"
export environment="{{ getv "/devops/environment" }}"
export key_name="{{ getv "/devops/key_name" }}"
export ami_id="{{ getv "/devops/ami_id" }}"
export subnet_ids="'{{ getv "/devops/subnet_ids" }}'"
export security_grps="'{{ getv "/devops/security_grps" }}'"
export ec2_role="{{ getv "/devops/ec2_role" }}"
export ec2_type="{{ getv "/devops/ec2_type" }}"

export MACHINE_USER="ubuntu"
export MACHINE_CONFDIR=".machine"
