vpc_id="{{ getv "/vpc_id" }}"
stack_name="{{ getv "/stack_name" }}"
template_url="{{ getv "/template_url" }}"
region="{{ getv "/region" }}"
environment="{{ getv "/environment" }}"
key_name="{{ getv "/key_name" }}"
ami_id="{{ getv "/ami_id" }}"
subnet_ids="{{ getv "/subnet_ids" }}
ec2_role="{{ getv "/ec2_role" }}
ec2_type="{{ getv "/ec2_type" }}
